.footer {
    width: 100%;
    background: #110f36;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.footer div {
    width: 25%;
    margin: 3em;
}

.footer i {
    margin: 10px;
    font-size: 2em;
    color: #fff;
}

@media (max-width:700px) {
    .footer div {
        width: 100%;
    }
}